<h1> Sarah Frankish CV </h1>

<h3>
  Example of a skills‐based CV
HERRINGBONE
Flat 3A, 18 Floral Place, Ash Lane, Normanton NM8 6AY
Telephone: 01956 558000           Mobile: 07717 121182              Email: lucy.marcus@nomail.com
I have four years' practical experience of community arts development, strong interpersonal skills
and am able to generate a love of learning.</h3>
<h2>Skills and achievements</h2>
<p>Use specific examples of how you 
have developed your skills. Communication:
 Able to communicate complex information to individuals and groups, make presentations and
respond to questions in both educational and workplace settings. Skills developed in degree
programme and during work experience as play leader at Top Tots.
 Able to give and take instructions and maintain active listening during times of pressure. For
example, following minor accident in playground provided ambulance crew with important
information and reassured other children.</p>
<h2>Numeracy:</h2>
<p>. Achieved grade A in GCSE Mathematics and grade C in AS level Statistics.
Provide evidence of your achievements. 
Be precise and don’t over-claim. </p>
<p> Gained practical experience of handling money and observing company procedures for
checking fraudulent bank notes while working at Drop Price supermarket.</p>
<h2>Leadership:</h2>
<p> Responsible for the coordination of the work of four play leaders and direction and
management of day‐to‐day recreational activities of 19 4‐7 year olds at Top Tots in August
2012.
Use words that exemplify 
the skill – e.g. direction 
and leadership. 
 Set up a parents’ lobby group to urge the local authority to amend its school transport
arrangements.</p>
<h2>Teamwork:</h2>
<p> Successfully integrated into the art department at my former secondary school. Co‐managed
the year 11 parents' evening display of visual arts while on placement.
 Managed the induction and supervision of new members of administrative staff, joining the
mixed age team.
Administration:
 Prior to starting full‐time degree course, I worked for more than four years as an administrator
for a small charity. Tasks included assisting in bidding for lottery funds, managing accounts and
general administration.
Use of ‘four' years implies extensive 
experience and stability.Innovation:
 While volunteering at a local charity, I re‐designed publicity materials following an audit of
community development activities managed by the charity.</p>
<h2>IT literacy:</h2>
<p> Proficient user of Excel and entry‐level ability in SPSS; used both for collating and analysing
data on pupil test scores while on teaching practice.
 Developed electronic database system so that the charity could maintain contact with its key
stakeholders.
 Competent user of PowerPoint, Word, Outlook and DreamWeaver applications.</p>
<h2>Education and qualifications</h2>
<p>2010 – 2013 University of Linchester
2:2 BA (Hons) Learning Studies
2000 – 2003 Border College of Technology, Foundation Art and Design
3 A levels: Art (A), English (A) and AS level Statistics (C)
1991 – 1996               Border City High School
8 GCSEs including 'A's in Maths and Science
Employment history
2010 – present Top Tots − summer playscheme leader.
2010 – 2012 Drop Price supermarket − part‐time assistant responsible for stock
control.
2006 – 2010     Artsdotcom − administrator and website manager.
Explain breaks in your 
2003 – 2006 employment history.     Career break and full‐time mum of two.
1996 – 2000 Rags and Riches − sales assistant for womenswear retailer.
Voluntary experience
2012 (Jul‐Aug)          Top Tots − volunteer assistant in summer playscheme.</p>
<h2>References</h2>
Available upon request