<div class="row">
    <div class="large-12 columns">
      <div class="nav-bar right">
       <ul class="button-group">
         <li><a href="#" class="button"> CV ??</a></li>
         <li><a href="articles/index" class="button">All Articles</a></li>
         <!-- <li><a href="#" class="button">Link 3</a></li> -->
         <!-- <li><a href="#" class="button">Link 4</a></li> -->
        </ul>
      </div>
      <h1>Welcome to Sarah's Travel Blogsite
 <small>This is my blog. It's awesome. Colin has been making it for me cos he is a lovely fellow.</small></h1>
      <hr/>
    </div>
  </div>
 
   
 
 
   
 
  <div class="row">
 
     
    <div class="large-9 columns" role="content">
 
      <article>
 
        <h3><a href="#">Some waffle about Sarah </a></h3>
        <h6>Written by <a href="#">Sarah Frankish</a> Date of blether</h6>
 
        <div class="row">
          <div class="large-6 columns">
            <p>Of course the thing doesnt do much yet, its just a homepage with basic functions built on Rails, HTML, CSS and Foundation. None of this would be of any interest to a travel reader! </p>
            <p>This would be filled in with some chat about Sarah and her travels or her likes perhaps. Whatever she wants. In the meantime this is here just go get an idea of how it would look. </p>
            <p>The photo to the right is obviously just a placeholder, however I quite like it in a funny sort of way. Reminds me of the World Cup, and after all she is in an Argentina shirt!! With a Gaucho hat!!</p>
          </div>
          <div class="large-6 columns", %>
            <%= image_tag 'sarah.jpg', :id => "sarah" %>
          </div>
        </div>
 
        <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>
 
        <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>
 
      </article>
 
      <hr/>
 
    </div>
 
     
 
 
     
 
    <aside class="large-3 columns">
 
      <h5>Countries</h5>
      <ul class="side-nav">
        <li><a href="#">Peru</a></li>
        <li><a href="#">Guyana</a></li>
        <li><a href="#">Argentina</a></li>
        <li><a href="#">Brazil</a></li>
        <li><a href="#">CAKES</a></li>
      </ul>
 
      <div class="panel">
        <h5>Some highlight ???</h5>
        <p>Could have something in here which may be the first few lines of a piece of writing with a link to it or possible something else..... not really sure, could have a wee link to it below. None of the links go anywhere yet! </p>
        <a href="#">Read More →</a>
      </div>
 
    </aside>
 
     
  </div>
 
   
 
 
   
 
  <footer class="row">
    <div class="large-12 columns">
      <hr/>
      <div class="row">
        <div class="large-6 columns">
          <p>© Copyright - none yet - Colinsites.com ??.</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li><a href="#"> CV ????</a></li>
            <li><a href="#">Travel Experience ??</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>