<h1>This is where the new articles will be created</h1>


<%= form_for (@article) do |f| %>
  Article Title: <%= f.text_field :title %>
  Article Text:  <%= f.text_field :text %>
  <%= f.submit 'Save Article' %>
  <% end %>
