<%# add navigation links to this file %>
<div class="navlinks">
  <%= link_to 'New Article', new_article_path, class: 'button' %>
  <%= link_to 'Edit Existing Article', class: 'button' %>
  <%= link_to 'Delete Existing Article', class: "button" %>
</div>